name: Release

on:
  push:
    branches:
      - main
      - master
    paths:
      - "**/*.py"
      - ".github/workflows/release.yml"
  pull_request:
    branches:
      - main
      - master
    paths:
      - "**/*.py"
      - ".github/workflows/release.yml"
  workflow_dispatch:

jobs:
  tests:
    name: Run tests
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        uses: excitedleigh/setup-nox@v2.0.0

      - run: nox

  release:
    needs: [tests]
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
